{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temoignage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoignage.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ temoignage.contenu }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{% if temoignage.dateAjout %}{{ temoignage.dateAjout|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datevalidation</th>
                <td>{% if temoignage.dateValidation %}{{ temoignage.dateValidation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if temoignage.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('temoignage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('temoignage_edit', { 'id': temoignage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
